body {background-color: lightblue;text-align: center;}

h1   {color:blue; 
text-align: center;}

p    {font-family: cursive;
	font-size: 20px;
	}
	
h2   {color:green;
	text-align: center;}


h3   {color:white;
	text-align: center;}

h4   {color:white;
	text-align: center;}